@font-face {
  font-family: SF-Pro-Text;
  src: url(./FontsFree-Net-SFProDisplay-Regular.ttf);
}
body, #app, #app>div {
  /* height: 100%; */
  background-color: #E0F2FF;
}

.App {
  text-align: center;
  background-color: #E0F2FF;
  font-family: SF-Pro-Text;
  display: flex;
  flex-direction: column;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(111, 111, 165);
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
  font-size: larger;
  font-weight: 500;
}

.nav-link{
  text-decoration: none;
  padding: 0.4rem;
  font-size: 30px;
  color: black;
}
.nav-link:hover,
.nav-link:active{
  color: #E0F2FF;
  transform: scale(1.1);
  /* padding-bottom: 0.25rem;
  border-bottom: 1px solid #95bcf0; */
}
.nav-link-active{
  color: #E0F2FF;
}

.authentication-header{
  padding-bottom: 2rem;
}

.authentication-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  text-align: center;
}

.username-form{
  display: flex;
  font-size: 20px;
  flex-direction: row;
  width: 20%;
  padding-bottom: 1rem;
  justify-content: space-evenly;
}
.auth-form{
transform: scale(1.1);
}
.input-label{
  padding-right: 1rem;
}
.password-form{
  display: flex;
  font-size: 20px;
  flex-direction: row;
  width: 20%;
  justify-content: space-evenly;
}

.submit-button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: black;
  font-weight: bold;
  padding: 1rem 1.6rem;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
}

.submit-button:hover {
  cursor: crosshair;
}

.stock-management{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.stock-management-items{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.stock-management-item{
  text-decoration: none;
  margin: 2rem;
}
.stock-management-item:hover{
  transform: scale(1.1);
}
.stock-management-item:active{
  color: rgb(111, 111, 165);
}

.allstocks {
  text-align: center;
  font-size: medium;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
}

.button-stock {
  flex-basis: 5rem;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid#FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  background-color: none;
}

.button-stock:hover {
  cursor: crosshair;
  color: springgreen;
  background:rgb(80, 80, 189);
}

.stock-details-table {
  text-align: center;
  overflow: hidden;
  padding: 1rem;
  margin: auto;
  width: 100%;
  display: table;
  /* border: 1px solid black; */

}

.stock-table-heading{
  /* text-decoration: none; */
  background-color:cadetblue;
  /* border: 1px solid black; */
}

.stock-details-table tr {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
  margin: 1rem;
  border: 1px solid black;
}

.stock-details-table th{
  border: 1px solid black;
}
.user-management h1{
  font-size: 55px;
}
.user-buttons{
  display: flex;
  width: 100%;
  text-decoration: none;
  list-style: none;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  padding: 2rem;
}
.user-buttons a{
  text-decoration: none;
  justify-content: space-around;
  padding: 2rem;

  font-size: 30px;
}
.user-buttons a:hover{
  transform: scale(1.1);
  color: black;
}
/* .wrapper{
  display: flex;
  flex-direction: column;
}

.registration{
  display: flex;
  flex-direction: column;
} */

/* .input-box-1{
  size: 20;
} */