.App {
  text-align: center;
  /* padding: 10vh; */
}

.wrapper-1 {
  margin-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(88, 88, 199);
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
  font-size: larger;
  font-weight: 500;
}

.authentication-header{
  padding-bottom: 2rem;
}

.authentication-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  text-align: center;
}

.username-form{
  display: flex;
  flex-direction: row;
  width: 20%;
  padding-bottom: 1rem;
  justify-content: space-evenly;
}

.password-form{
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-evenly;
}

.submit-button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: black;
  font-weight: bold;
  padding: 1rem 1.6rem;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
}

.submit-button:hover {
  cursor: crosshair;
}

.allstocks {
  text-align: center;
  font-size: medium;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
}

.button-stock {
  flex-basis: 5rem;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid#FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  background-color: none;
}

.button-stock:hover {
  cursor: crosshair;
  color: springgreen;
  background:rgb(80, 80, 189);
}

.stock-details-table {
  text-align: center;
  overflow: hidden;
  padding: 1rem;
  margin: auto;
  width: 100%;
  display: table;
  /* border: 1px solid black; */

}

.stock-table-heading{
  /* text-decoration: none; */
  background-color:cadetblue;
  /* border: 1px solid black; */
}

.stock-details-table tr {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
  margin: 1rem;
  border: 1px solid black;
}

.stock-details-table th{
  border: 1px solid black;
}

/* .wrapper{
  display: flex;
  flex-direction: column;
}

.registration{
  display: flex;
  flex-direction: column;
} */

/* .input-box-1{
  size: 20;
} */